name: 'Orphaned assets check'

# **What it does**: Checks that there are no files in ./assets/ that aren't mentioned in any source file.
# **Why we have it**: To avoid orphans into the repo.
# **Who does it impact**: Docs content.

on:
  pull_request:
  push:
    branches:
      - gh-readonly-queue/main/**

permissions:
  contents: read

jobs:
  orphaned-assets-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744

      - name: Setup node
        uses: actions/setup-node@56337c425554a6be30cdef71bf441f15be286854
        with:
          node-version: 16.14.x
          cache: npm

      - name: Install
        run: npm ci

      - name: Check for orphaned assets
        run: ./script/find-orphaned-assets.mjs --verbose --exit
